/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    to bottom right,
    #f8f9fa,
    #dee2e6
  ); /* Soft gradient background */
  color: #333; /* Dark text color */
  line-height: 1.6;
}

/* Center the container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* White container background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

/* Header styles */
header {
  background-color: #6c757d;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

header h1 {
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #fff;
}

/* Main styles */
main {
  padding: 20px;
}

/* Section styles */
section {
  margin-bottom: 30px;
  text-align: center;
}

section h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #6c757d;
}

section p {
  margin-bottom: 20px;
}

/* Form styles */
form {
  max-width: 400px;
  margin: 0 auto; /* Center the form */
  padding: 20px;
  background-color: #f9f9f9; /* Light gray form background */
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #6c757d; /* Dark gray label color */
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
  background-color: #fff; /* White input background */
  color: #333; /* Dark text color */
}

button {
  padding: 10px 20px;
  background-color: #6c757d; /* Dark gray button background */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #495057; /* Darker gray on hover */
}

/* Habits container styles */
.category {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #6c757d;
}

.habitsD {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 10px;
}

.habitsD span {
  flex: 1;
}

.habitsD button {
  margin-left: 10px;
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.habitsD button:hover {
  background-color: #495057;
}

.completed {
  text-decoration: line-through;
  color: #999;
}

/* Footer styles */
footer {
  text-align: center;
  background-color: #6c757d;
  padding: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 20px;
}

footer p {
  font-size: 0.8rem;
  color: #fff;
}
