/* Body styles */
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    to bottom right,
    #cadbfc,
    #feecf5
  ); /* Gradient background */
  color: #333; /* Dark text color */
  line-height: 1.6;
}

/* Header styles */
header {
  background-color: #f9eafe; /* Light purple header background */
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

header h1 {
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #800080; /* Purple header text color */
}

/* Main styles */
main {
  padding: 20px;
}

/* Form styles */
form {
  max-width: 500px;
  margin: 0 auto; /* Center the form */
  padding: 40px;
  background-color: #ebbcfc; /* Light purple form background */
  border-radius: 10px;
}

/* Category styles */
.category {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #800080; /* Purple text color */
  background-color: #feecf5; /* Light pink category background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Button styles */
button {
  padding: 10px 20px;
  background-color: #800080; /* Purple button background */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #660066; /* Darker purple on hover */
}

/* Habits container styles */
.habitsD {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #feecf5; /* Light pink habits container background */
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  text-align: center;
  background-color: #f9eafe; /* Light purple footer background */
  padding: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 20px;
}

footer p {
  font-size: 0.8rem;
  color: #800080; /* Purple text color */
}
